page-contact {
    .settings-content {
        ion-item {
            p {
                padding: 0;
            }
            ion-label {
                margin: 0;
                hr {
                    height: 1.5px;
                }
            }
        }
        ion-card-header h1, p {
            padding: 0 10px;
        }
    }
}
