<ion-header>
    <ion-navbar>
        <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
        <ion-buttons end royal>
            <button ion-button icon-only (click)="openCart()">
                <!--<ion-badge class="cart-badge"></ion-badge>--><ion-icon name="cart"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Udder Milk</ion-title>
    </ion-navbar>
    <ion-searchbar *ngIf="config.showSearch" [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel"></ion-searchbar>
</ion-header>
<ion-content>
    <carousel></carousel> 
    <ion-row class="select-tab">
        <ion-col style="border-left: 0;" align-items-center [class.active]="selectedTab == 'category'" (click)="selectedTab = 'category'">Categories</ion-col>
        <ion-col style="border-right: 0;" align-items-center [class.active]="selectedTab == 'animal'" (click)="selectedTab = 'animal'">Animals</ion-col>
    </ion-row>
    <ion-row class="categories" [hidden]="selectedTab != 'category'">
        <ion-col col-12 col-md-6 [ngClass]="animateClass" *ngFor="let item of animateItems; let i=index" (tap)="openCategory(item)">
            <ion-card>
                <img [src]="item.Category.categoryimage.length > 0 ? config.categoryUri + item.Category.categoryimage : 'https://uddermilk.com/img/image_not_found.jpg'" />
                <p>{{item.Category.categoryname}}</p>
            </ion-card>
        </ion-col>
    </ion-row>
    <ion-row class="categories" [hidden]="selectedTab != 'animal'">
        <ion-col col-12 col-md-6 [ngClass]="animateClass" *ngFor="let item of animals; let i=index" (tap)="openCategory(item)">
            <ion-card>
                <img [src]="item.Animal.animalimage.length > 0 ? config.animalUri + item.Animal.animalimage : config.noImage" />
                <p>{{item.Animal.animalname}}</p>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>
